.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}

mat-card {
  display: flex;
  flex-direction: column;
}

mat-card-image {
  object-fit: cover;
}

mat-card-content {
  flex-grow: 1;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 16px;
}

button[mat-button][color="warn"] {
  color: #f44336;
}