<div class="mb-4">
    <h2 class="text-success">Forgot Password</h2>
    <div>
      Remembered your password?
      <a
        routerLink="/user/signin"
        class="text-decoration-none fw-medium text-success d-inline-block"
        >Sign in</a
      >
    </div>
  </div>
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <input
        class="form-control bg-body-secondary"
        placeholder="Email"
        formControlName="email"
        type="email"
      />
      <div
        class="error-feedback"
        *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
      >
        <div *ngIf="form.controls['email'].errors?.['required']">
          Please enter your email address.
        </div>
        <div *ngIf="form.controls['email'].errors?.['email']">
          Please enter a valid email address.
        </div>
      </div>
    </div>
  
    <div class="mt-4">
      <button
        type="submit"
        class="btn btn-success w-100 rounded-3"
        [disabled]="form.invalid"
      >
        Reset Password
      </button>
    </div>
  </form>
  