<div class="mb-4">
    <h2 class="text-success">Reset Password</h2>
    <div>
      Back to
      <a
        routerLink="/user/signin"
        class="text-decoration-none fw-medium text-success d-inline-block"
      >
        Sign in
      </a>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <input
        class="form-control bg-body-secondary"
        placeholder="New Password"
        formControlName="password"
        type="password"
      />
      <div
        class="error-feedback"
        *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
      >
        <div *ngIf="form.controls['password'].errors?.['required']">
          Please enter a new password.
        </div>
        <div *ngIf="form.controls['password'].errors?.['minlength']">
          Password must be at least 6 characters long.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <input
        class="form-control bg-body-secondary"
        placeholder="Confirm New Password"
        formControlName="confirmPassword"
        type="password"
      />
      <div
        class="error-feedback"
        *ngIf="form.controls['confirmPassword'].invalid && (form.controls['confirmPassword'].dirty || form.controls['confirmPassword'].touched)"
      >
        <div *ngIf="form.controls['confirmPassword'].errors?.['required']">
          Please confirm your password.
        </div>
        <div *ngIf="form.errors?.['passwordMismatch']">
          Passwords do not match.
        </div>
      </div>
    </div>

    <div class="mt-4">
      <button
        type="submit"
        class="btn btn-success w-100 rounded-3"
        [disabled]="form.invalid"
      >
        Reset Password
      </button>
    </div>
  </form>